{% extends lang+"/profile/base.html" %}

{% block title %}Workspaces{% endblock title %}

{% block scripts %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock scripts %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-2">Your Workspaces</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
      Add new workspace
    </button>

    <br><br>

    <table>
        <tr>
            <th>Workspace</th>
            <th>Created</th>
            <th>Tools</th>
        </tr>

        {% for workspace in workspaces %}
            <tr>
                <td style="width:60%">{{ workspace.title }}</td>
                <td>{{ workspace.created.strftime("%d %b %Y") }}</td>
                <td><a href="/workspace/{{ workspace.slug }}/users">users</a> | <a href="#" data-toggle="modal" data-target="#editModal{{ workspace.id_workspace }}">edit</a> | <a href="#" data-toggle="modal" data-target="#deleteModal{{ workspace.id_workspace }}">delete</a></td>
            </tr>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ workspace.id_workspace }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ workspace.id_workspace }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ workspace.id_workspace }}">Delete workspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <b>Please confirm you want to delete this workspace!</b><br>
                    <form class="middle-custom-form" method="post" action="{{ url_for('profile.workspace.delete') }}">
                        <input type="hidden" name="workspace-id" value="{{ workspace.id_workspace }}">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Edit Modal -->
            <div class="modal fade" id="editModal{{ workspace.id_workspace }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ workspace.id_workspace }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel{{ workspace.id_workspace }}">Edit workspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="middle-custom-form" method="post" action="{{ url_for('profile.workspace.update') }}">
                        <div class="form-group">
                            <label for="edit-title">Title</label>
                            <input type="text" name="edit-title" id="edit-title" value="{{ workspace.title }}">
                        </div>
                        <input type="hidden" name="workspace-id" value="{{ workspace.id_workspace }}">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <button type="submit" class="btn btn-danger">Update</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </table>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Add new workspace</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="middle-custom-form" method="post" action="{{ url_for('profile.workspace.workspace_create') }}">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="Enter slug">
                </div>
                <input type="hidden" name="is-owner" value="True">
                <input type="hidden" name="csrf" value="{{ csrf }}">
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
