{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="text-center">
    <h1 class="pb-5">If you are making a project, NinjaTODO is for you!</h1>

    <h3 class="pb-3">What do we offer:</h3>

    <div class="row mb-5">
        <div class="col-3 m-auto bg-primary rounded-lg">
            <h3>All your tasks in one place</h3>
        </div>
        <div class="col-3 m-auto bg-danger rounded-lg">
            <h3>Multiple users in workspaces</h3>
        </div>
        <div class="col-3 m-auto bg-success rounded-lg">
            <h3>Completely self-hosted</h3>
        </div>
    </div>
</div>
{% endblock content %}